*, :after, :before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    line-height: inherit;
}


.start-content{
    margin: 0 6rem;
    height: 100vh;


    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

header{
    width: 48%;
}

header div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
}


header .social-media{
    display: flex;
    justify-content: start;
    align-items: baseline;

    width: 100%;
    height: 26px;

    margin-top: 0;
    padding: 0;

} 

header ul li{
    list-style: none;
    margin-right: 1rem;

}

header .social-media li a{
    width: 24px;
    height: 24px;
}

header .social-media li a span{
    display: none;
}

header .social-media svg{
    width: 24px;
    height: 24px;
}

