
/* Overlay container */
.close-box {
    background: none;
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
    transition: transform 0.2s ease;
}

.close-box:hover {
    transform: rotate(90deg);
}

.close-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1) brightness(0) saturate(100%) invert(76%) sepia(33%) saturate(450%) hue-rotate(352deg) brightness(94%) contrast(86%);
}

.profileView-footer {
    width: 100%;
    height: 2rem;
    border-top: 1px solid var(--color-secondary);
    margin-top: 1rem;
}

.profileDetailView-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
    overscroll-behavior: contain;
    backdrop-filter: blur(4px);
    pointer-events: auto;
}

.profileDetailView-container.hidden {
  display: none;
  pointer-events: none;
}

/* Detail content */
.profile-content {
    background: #222;
    border-radius: 16px;
    width: 90%;
    max-width: 1250px;
    min-height: auto;
    display: block;
    padding: 1rem 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s ease;
}

/* Header */
.profileView-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-secondary);
    padding: 0 2rem 1rem 2rem;
    margin-bottom: 1rem;
}

.profile-content .first-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 1rem;
}

.profileDescription{
    padding: 0 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.7rem;
}

/* Project image */
.first-section .profileImgBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-section .profileImage {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.first-section .profileImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
