:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #22383C;

  --color-base: #22383C;
  --color-primary: #D4A373;
  --color-secondary: #6B4E32;
  --color-accent: #E6CBA8;
  --color-text-primary: #F5F3EE;
  --color-text-secondary: #B5AFA6;
  --color-card-bg: #2B2B2B;

  --color-blackpj: #0D0D0D;
  --color-primarypj: #00FFFF;
  --color-secondarypj: #FF00FF;
  --color-accentpj: #FFD700;
  --color-text-primarypj: #F8F8F8;
  --color-text-secondarypj: #AAAAAA;
  --color-highlightpj: #39FF14;
  --color-card-bgpj: #1A1A1A;
  --color-highlight1pj: #646cff;
  --color-highlight2pj: #535bf2;
  --color-highlight3pj: #747bff;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-base);
  color: var(--color-text-primary);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0 10rem;
}

body.gameview {
  background-color: var(--color-base);
  color: var(--color-text-primary);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}


