
.project-section {
  width: 100%;
  height: auto;
  background-color: var(--color-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  gap: 2rem;
  box-sizing: border-box;
}

.project-title {
  flex: 1;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
}

.project-header span {
  flex-shrink: 0;
  width: 45%;
  text-align: right;
}


.project-section hr {
  border: none;
  border-bottom: 1px solid var(--color-primary);
  margin: 0.5rem 0;
}

.project-content {
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: 2rem;
}

/* Left side: scrollable cards */
.projectScrollItems {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* Right side: fixed info */
.projectFixedItemInfo {
  position: sticky;
  top: 7rem;
  width: 45%;
  background-color: transparent;
  height: fit-content;
  transition: all 0.3s ease-in-out;
}

/* Tag styling (optional) */
.projectFixedItemInfo .tag {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: var(--color-text-primary);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  margin: 0.25rem;
  font-size: 0.85rem;
}

.projectFixedItemInfo p{
  white-space: pre-line;
  margin-bottom: 0.5rem;
}

.projectFixedItemInfo > div {
  opacity: 1;
  transition: all 300ms ease;
}

.projectFixedItemInfo.fade > div {
  opacity: 0;
}


@media (max-width: 1200px) {
  .project-content .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .project-content .project-grid {
    grid-template-columns: 1fr;
  }
  .item-grid {
    grid-template-columns: 1fr;
  }
}


.project-container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    min-height: calc(100vh - 10rem);
}

.project-container .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.project-container .no-projects {
    width: 100%;
    height: calc(100vh - 14rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--color-text-primary);
}

