

.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-base);
}

.home-hero .textbox{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.home-hero h1 {
  font-size: 1.3rem;
  min-width: 12rem;
  text-align: left;
}

.home-hero .herotxt {
  max-width: auto;
  margin: 0 2rem;
  line-height: 1.6;
  font-size: 2.2rem;
  text-align: center;
  color: var(--color-text-secondary);
  white-space: pre-line;
}

.hhero-btn {
  padding: 0.6rem 1.4rem;
  letter-spacing: 0.5px;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hhero-btn:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
  border-color: var(--color-accent);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


@media (min-width: 768px) {
  .home-hero p {
    font-size: 1.2rem;
    white-space: pre-line;
  }
}




.quick-about {
  width: 100%;
  height: auto;
  background-color: var(--color-base);
  box-sizing: border-box;
  margin-bottom: 6rem;
}

.quick-about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 equal-width columns */
  grid-template-rows: repeat(3, 200px); /* 2 rows, adjust height */
  gap: 20px; /* spacing between boxes */
}

/* Place items in the grid */
.box1 { grid-column: 1 / span 2; grid-row: 1; background: #f5a; }
.box2 { grid-column: 1; grid-row: 2 / span 2; background: #5af; }
.box3 { grid-column: 2; grid-row: 2 ; background: #fa5; }
.box4 { grid-column: 3; grid-row: 1 / span 2; background: #a5f; }
.box5 { grid-column: 2 / span 2 ; grid-row: 3; background: #5fa; }

.box1, .box2, .box3, .box4, .box5{
  border: 1px solid var(--color-secondary);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  transition: all 300ms ease-in-out;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover{
  box-shadow: 0 0 30px rgba(255,255,255,0.3);
  transform: scale(1.03);
}