.home-hero {
  width: 100%;
  height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-base);
}

.home-hero h1 {
  font-size: 3.5rem;
}

.home-hero p {
  max-width: 650px;
  margin: 1.5rem auto 2rem;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-text-secondary);
  white-space: pre-line;
}


@media (min-width: 768px) {
  .home-hero p {
    font-size: 1.2rem;
    white-space: pre-line;
  }
}



.about-hero {
  padding: 3rem 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.about-header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  margin: 0;
  padding: 1rem 0;
}

.about-title {
  font-weight: bold;
  color: var(--color-primary);
  flex: 1;
  white-space: nowrap; 
}


.about-header hr {
  border: none;
  border-bottom: 1px solid var(--color-primary);
  margin-top: 0.5rem;
}

/* About content layout */
.about-hero .about-content {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-top: 3rem;
  gap: 2rem;
  height: 100%;
}

.about-left {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-left p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  white-space: pre-line;
}

.about-left .btn-box {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

/* Right side images */
.about-right {
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about-right .img-box {
  width: 500px;
  height: 600px;
  border-radius: 15px;
}

.about-right .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}