.skillIcon-wrapper {
  position: relative;
  width: 45%;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: linear-gradient(to right,
  rgba(0,0,0,0),
  rgba(0,0,0,1) 10%,
  rgba(0,0,0,1) 90%,
  rgba(0,0,0,0)
  );
}

.item {
  position: absolute;
  left: max(calc(200px * 8), 100%);
  width: 40px;
  height: 40px;
  animation-name: scrollLeft;
  background-color: transparent;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes scrollLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -415px;
  }
}
